@{
    ViewData["Title"] = "SelectPaquete";
    ViewBag.Hoteles = ViewBag.Hoteles;
    ViewBag.Destinos = ViewBag.Destinos;
    ViewBag.Aereos = ViewBag.Aereos;
    ViewBag.Excursiones= ViewBag.Excursiones;
}

<header>
    <h1>Seleccione su paquete</h1>
  
</header>
<h3>@ViewBag.Destinos</h3>
<h3>@ViewBag.Hoteles</h3>
<h3>@ViewBag.Aereos</h3>
<h3>@ViewBag.Excursiones</h3>

 <form action='@Url.Action("GuardarPaquete")'>
    <nav>
        <ul>
            <li><input type="number" name="NumHotel"></li>
            <li><input type="number" name="NumDestino"></li>
            <li><input type="number" name="NumAereo"></li>
            <li><input type="number" name="NumExcusrion"></li>
            <li><input type="submit"></li>
        </ul>
    </nav> 
</form>